
h1 {
  font-weight: bold;
  font-size: 27px;
  color: White;
}

h2 {
  font-style: italic;
  font-size: 19px;
}

p {
  font-size: 11px;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: Red;
}

strong {
  color: darkred;
  font-weight: bold;
}

a {
  color: pink;
  font-style: underline;
}
